---
import Layout from "../layouts/Layout.astro";
import HeroText from "../components/HeroText.astro";
import CardSection from "../components/CardSection.svelte";
---

<Layout title="Four Card Feature Section" description="A section with interesting placements of the four cards.">
	<main class="flex flex-col items-center justify-center w-full min-h-screen h-fit gap-16 text-neutral-very-dark-blue p-8 bg-neutral-very-light-gray pt-20">
		<HeroText />
		<CardSection client:load />
	</main>
</Layout>
